<!DOCTYPE html>
<html>
<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	{% block title %}{% endblock %}
</head>
<body>	
	<!-- Image and text --> 
	<nav class="navbar navbar-light bg-light">
 		 <a class="navbar-brand" href="#">
   	 <img src="https://media.istockphoto.com/vectors/fire-flame-blue-icon-vector-id918191876?k=6&m=918191876&s=612x612&w=0&h=joStETm2-Npj7VRuZ5NKvcVGUFAKd3Ul5pjhwsos0xI=" height="30" class="d-inline-block align-top" alt="">
    	FireApp
 		</a>
	</nav>
	{% block body %}{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>