<!DOCTYPE html>
<html>
	<head>
		<img src="http://www.jaymaron.com/bullet/candle.flame.png" width="100">
		<title>Fire App (Beta v1.0)</title>
	</head>
	<body>
		<h1>Cockpit</h1>
		<h2>Welcome to the Fire App {{beta_version}} cockpit.</h2>
		<p>Original file:</p>
		<ul>
			<li><b>Path : </b>{{pt}}</li>
			<li><b>Title : </b>{{nm}}</li>
		</ul>
		<h2>Clean file successfully saved under the following path:</h2	>	
		<form action='#' method="post">						
			<li><b>Path : </b>{{pt}}</li>
			<li><b>Title : </b>{{sv}}</li>
		</form>
	</body>
</html>