<!DOCTYPE html>
<html>
	<head>
		<img src="http://www.jaymaron.com/bullet/candle.flame.png" width="100">
		<title>Fire App (Beta v1.0)</title>
	</head>
	<body>
		<h1>Cockpit</h1>
		<h2>Welcome to the Fire App {{beta_version}} cockpit.</h2>
		<p>Please upload your Excel (.xlsx) file.</p>
		<br>
		<br>
		<h4>Online host:</h4>
			<form enctype="multipart/form-data" method="post" accept=".xlsx">
				<p><input type="file" name="myfile" id="myfile"></p>	
				<p><input type="submit" value="Submit"></p>
			</form>
	</body>
</html>