<!DOCTYPE html>
<html>
	<head>
		<img src="http://www.jaymaron.com/bullet/candle.flame.png" width="100">
		<title>Fire App (Beta v1.0)</title>
	</head>
	<body>
		<h1>Homepage</h1>
		<h2>Hey there. This is the homepage of Fire App :)</h2>
		<p>Current version: {{beta_version}}</p>
		<h3>What is it?</h3>
		<p>A basic web application to load, access, analyze, and visualize fire test data from the South Europe database.</p>
		<h3>Motivation</h3>
		<p>Setting up a simple and accessible web interface powered by back-end Python algorithms.</p>
	</body>
	<footer>
	<p>
	<!--<a href="/collect_data" target="_blank" >Enter cockpit</a>-->
	<a href="/get_host" target="_blank" >Enter cockpit</a>	
	<p>
	</footer>
</html>