<!DOCTYPE html>
<html>
	<head>
		<img src="http://www.jaymaron.com/bullet/candle.flame.png" width="100">
		<title>Fire App (Beta v1.0)</title>
	</head>
	<body>
		<h1>Cockpit</h1>
		<h2>Welcome to the Fire App cockpit.</h2>
		<p>All the forms herewith are case sensitive.</p>
		<p>Please fill the required fields with the values corresponding to the data as it was recorded on the Excel file.</p>
		<p>This includes lower or upper-case letters as well as spaces and special characters.</p>
		<br>
		<br>
    <img src="data:image/png;base64, {{ plot_url }}" height="650">
</body>
</html>