<!--
<!DOCTYPE html>
<html>
	<head>
		<img src="https://mma.prnewswire.com/media/1336667/Prysmian_Logo.jpg?p=twitter" width="400">
		<title>Fire App (Beta v1.0)</title>
	</head>
	<body>
		<h1>Cockpit</h1>
		<h2>Welcome to the Fire App {{beta_version}} cockpit.</h2>
		<p>All the forms herewith are case sensitive.</p>
		<p>Please fill the required fields with the values corresponding to the data as it was recorded on the Excel file.</p>
		<p>This includes lower or upper-case letters as well as spaces and special characters.</p>
		<br>
		<br>
		<p>Fire test count : {{test_count}}</p>
		<p>Site distribution : {{site_dist}}</p>
		<p>Cable distribution : {{cable_dist}}</p>
		<p>Compound distribution : {{cmp_dist}}</p>
	</body>
</html>
-->
<!DOCTYPE html>
<html>
	<head>
		<img src="http://www.jaymaron.com/bullet/candle.flame.png" width="100">
		<title>Fire App (Beta v1.0)</title>
		<h1>Cockpit</h1>
		<h2>Welcome to the Fire App {{beta_version}} cockpit.</h2>
		<p>All the forms herewith are case sensitive.</p>
		<p>Please fill the required fields with the values corresponding to the data as it was recorded on the Excel file.</p>
		<p>This includes lower or upper-case letters as well as spaces and special characters.</p>
		<br>
		<br>
	</head>
	<body>
	<h1>Statistical overview</h1><br>
	<p> Fire test count : {{i}} fire tests</p><br>
	<p> Site distribution : {{ii | safe}} </p><br>
	<p> Cable distribution: {{iii | safe}} </p><br>
	<p> Compound distribution: {{iv | safe}} </p><br>
	</body>
</html>

